@import url("/opera/documentation/plugins/SyntaxHighlighter/shCore.css");
@import url("/opera/documentation/plugins/SyntaxHighlighter/shThemeMidnight.css");

/*
@import url("https://alejandroru86.github.io/opera/documentation/plugins/SyntaxHighlighter/shCore.css");
@import url("https://alejandroru86.github.io/opera/documentation/plugins/SyntaxHighlighter/shThemeMidnight.css");
<script src="https://alejandroru86.github.io/opera/documentation/plugins/SyntaxHighlighter/shCore.js"></script> 
<script src="https://alejandroru86.github.io/opera/documentation/plugins/SyntaxHighlighter/shBrushAS3.js></script>
<script type='text/javascript'>SyntaxHighlighter.all();</script>
<script src="https://kit.fontawesome.com/9632b0f819.js" crossorigin="anonymous"></script>
*/

span.request, span.response {
 font: normal bold;
 color: #FFA500;
}
.divHome {
 text-align: right;
}
.bHome1 {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.bHome2 {
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
}

.bHome2:hover {
  background-color: #008CBA;
  color: white;
}

/*Tabla para headers de xml*/
table.codesTable01 {
border: 1px solid #ddd;
font-size: 0.8em;
}

td.codesTable01 {
 background-color:#eee;
 border: 1px solid #ddd;
 padding-left: 0.8em;
}

td.codesTable02 {
 background-color:#ffffff;
 padding-left: 15px;
}

/*Botón de acordión*/
.details {    
 background: #eee;    
 color: #444;    
 padding: 18px;    
 border: none;    
 text-align: left;    
 outline: none;    
 font-size: 15px;    
}

/*Tabla de icons*/
table.t00 {
 table-layout: fixed;
 background: #424654;
 width: 90%;
 margin: auto;
}
td.t01 {
 color: #ffffff;
 background: none;
 text-align: center;
 padding: 1em 0;
}
td.t02 {
 font-size: 0.9em;
 color: black;
 background: #ffffff;
}
td.t03 {
 font-size: 1.1em;
 color: blue;
 background: #c0c0c0;
}
